<!-- <div class="container col-md-6">
    <div class="card">
        <div class="card-header">
            <h1>list</h1>
        </div>
        <div class="card-body">
            <form action="">
                <div class="form-group">
                    <label for="">Name:</label>
                    <input type="text" class="form-control" id="name" [(ngModel)]="user.name" name="name">
                </div>
                <div class="form-group">
                    <label for="">Email:</label>
                    <input type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email">
                </div>
                <div class="form-group">
                    <label for="">PassWord:</label>
                    <input type="text" class="form-control" id="password" [(ngModel)]="user.password" name="password">
                </div>
                <button (click)="onSubmit()" class="btn btn-success">Submit</button>
            </form>
        </div>
    </div>
</div> -->

<!-- <div class="container-fluid">

    <div class="card" style="width: 50%;margin: 5px auto;">
        <div class="card-header">
            Add Product
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input name="name" class="form-control" type="text" [(ngModel)]="product.name" required>
                </div>


                <div class="form-group">
                    <label for="maSp">maSp</label>
                    <input required [(ngModel)]="product.maSp" id="maSp" name="maSp" class="form-control" type="text">
                </div>

                <div class="form-group">
                    <label for="quantity">quantity</label>
                    <input [(ngModel)]="product.quantity" id="quantity" name="quantity" class="form-control"
                        type="text">
                </div>

                <div class="form-group">
                    <label for="sectors">sectors</label>
                    <input [(ngModel)]="product.sectors" id="sectors" name="sectors" class="form-control"
                        type="sectors">
                </div>

                <button class="btn btn-primary" (click)="onSubmit()">Edit</button>
            </form>
        </div>
        <div class="card-footer" *ngIf="showAlert">
            <div class="alert alert-success">
                <button (click)="closeAlert()" class="close">
                    &times;
                </button>
                <strong>Success</strong>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <form class="form shadow m-3 p-3" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1>Sign Up Form</h1>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Name</mat-label>
                <input matInput formControlName="name" placeholder="Enter Name" [(ngModel)]="product.name">
                <mat-error *ngIf="this.form.controls.name.hasError('required')">
                    Name is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>Mã SP</mat-label>
                <input matInput formControlName="maSp" placeholder="Enter maSp" [(ngModel)]="product.maSp">
                <mat-error *ngIf="this.form.controls.maSp.hasError('required')">
                    maSp is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>quantity</mat-label>
                <input matInput formControlName="quantity" placeholder="Enter quantity" [(ngModel)]="product.quantity">
                <mat-error *ngIf="this.form.controls.quantity.hasError('required')">
                    quantity is <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="row mt-3">
            <mat-form-field class="col-md-6">
                <mat-label>sectors</mat-label>
                <input matInput formControlName="sectors" placeholder="Enter sectors" [(ngModel)]="product.sectors">
                <mat-error *ngIf="this.form.controls.sectors.hasError('required')">
                    sectors <strong>required</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="rows mt-3">
            <button type="submit" mat-raised-button color="primary" class="m-2"
                style="width: 200px;height: 50px;margin-right: 20px;" [disabled]="!form.valid">Edit Form</button>
            <button type="button" mat-raised-button color="warn" class="m-2" style="width: 200px;height: 50px;"
                (click)="form.reset()">Reset</button>
        </div>
    </form>
</div>